header ul{
    overflow: hidden;
    background-color: #BBB;
}

header li{
    display: inline;
    float: left;   
}

li a{
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-size: 16px;
}

li a:visited{
    color: black;
}


body{
	background-color: lightgray;
}

body p{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 75%;
}

main{
    padding: 30px;
    font-size: 125%;
}

h1{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 10px;
    color: #333;
}

img{
    display: block;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
}

main div:nth-child(3n) img{
    border: 4px blue solid;
}


p{
    margin: 0px 0px 20px 0px;
}

nav .active{
    color: white;
    background-color: #333;
}

nav .active:visited{
    color: white;
}

footer{
    background-color: #555;
    color: #FFF;
    padding: 20px 30px 20px 30px;

    font-family: 'SF Pro','Helvetica Neue', sans-serif;;
}

footer a, footer a:visited{
    color: aquamarine;
}



@media screen and (min-width: 750px) {

    img{
        width: 50%;
    }
}